#userBut  //:hover
  .button
    border-bottom-right-radius 0
    border-bottom-left-radius 0
  .user-cabinet
    display: block
    z-index 20
    &__item
      display: none
.button
  background: $blue
  border-radius 32px
  cursor pointer
  display: inline-block
  color #fff
  &_list-item
    padding: 14px 43px;
    text-transform capitalize
    border: 1px solid #fff;
    display: inline-block;
    background: none
    box-sizing: border-box;
    color: #fff;
    &:after
      content ""
      background url(../img/list_arrow.png) bottom center no-repeat
      width 13px
      height 6px
      display block
      position absolute
      right: 15px
      top: 25px
  &_big
    padding 18px 38px
    font-size 18px
    text-transform uppercase
  &_small
    padding 18px 40px
    font-size 16px
    font-weight 500
  &__icon
    display block
    margin 0
    &:before
      content ""
      display inline-block

#scrollTop
  width 52px
  height: 52px
  background url(../img/arrow-top.png) center center no-repeat #fff
  position fixed
  right 5%
  bottom 20%
  cursor pointer
  display: none
  border-radius 50%
  box-shadow 0 0 43px #2089f4
  opacity 0.8
  z-index 99999999
  outline none
  &:hover
    opacity 1

.fb-icon
  background url(../img/sprite_contacts.png) left center no-repeat;
  width 28px
  height: 23px
  background-position 0 0
  display: inline-block
  position: relative;
  top: 50%;
  transform: translateY(-50%);
.be-icon
  background url(../img/sprite_contacts.png) left center no-repeat;
  width 28px
  height: 23px
  background-position -28px 0
  display: inline-block
  position: relative;
  top: 50%;
  transform: translateY(-50%);
.gh-icon
  background url(../img/sprite_contacts.png) left center no-repeat;
  width 28px
  height: 23px
  background-position -56px 0
  display: inline-block
  position: relative;
  top: 50%;
  transform: translateY(-50%);
.logo-icon
  background: url(../img/logo.png) center center no-repeat
  width 127px
  height: 49px
  display: block
  vertical-align: middle

.icon_show-t:before
  background url(../img/sprite_icon.png) left center no-repeat
  width 30px
  height 24px
  margin-right 15px
  background-position -64px 0
  vertical-align: bottom

.pin-icon-t:before
  content ""
  width 14px
  height: 21px
  margin-right 13px
  background: url(../img/pin-icon.png) left center no-repeat
  display inline-block
  vertical-align: bottom

.time-icon-t:before
  content ""
  width 20px
  height: 22px
  display: inline-block
  background: url(../img/time-icon.png) left center no-repeat
  vertical-align: bottom
  margin-right: 8px
  margin-left: -2px

.price-icon-t:before
  content ""
  width 20px
  height: 22px
  display: inline-block
  background: url(../img/time-icon.png) left center no-repeat
  vertical-align: bottom
  margin-right: 8px
  margin-left: -2px

.arrow-icon
  width 30px
  height 20px
  background: url(../img/sprite_icon.png) center left no-repeat
  background-position: -147px 0
  display block
  margin auto
  cursor pointer
.like-icon-t:before
  content ''
  display inline-block
  width: 16px
  height: 14px
  background: url(../img/band-sprite-icons.png) -8px center no-repeat
  vertical-align middle
  margin-right 10px
.lfm-icon:before
  content ''
  display inline-block
  width: 30px
  height: 30px
  background: url(../img/band-sprite-icons.png) -30px 0 no-repeat
  vertical-align middle
.music-icon:before
  content ''
  display inline-block
  width: 30px
  height: 30px
  background: url(../img/band-sprite-icons.png) -60px 0 no-repeat
  vertical-align middle
.facebook-icon:before
  content ''
  display inline-block
  width: 30px
  height: 30px
  background: url(../img/band-sprite-icons.png) -90px 0 no-repeat
  vertical-align middle
.calendar-icon-t:before
  content ''
  display inline-block
  width: 40px
  height: 35px
  background: url(../img/calendar-icon.png) center center no-repeat
  vertical-align middle
  margin-right 10px