@media (max-width: 960px)
  .l-header__h
    margin-top: 80px
    font-size: 65px
  .user-cabinet
    float none
  .logo
    float none
    margin-bottom 15px
  .l-header_bg-style
    padding-bottom 20px
  .l-sort__items
    border-radius 28px
  #everywhere
    width 49%
    float right
  #everything
    width 49%
    .l-sort__header
      display block
  .l-sort__everything
    display none
  #allTime
    width 100%
  .l-sort__items.active .l-sort__list
    max-height 120px
  .event-list_normal .event-list__item
    width 50%
  .l-events
    padding-bottom 80px
  .latest-concert
    &__item:first-child,
    &__item:nth-child(2)
        display none
@media (max-width: 800px)
  .l-header__h
    margin-top: 80px
    font-size: 50px
  .user-cabinet
    float none
    min-width 190px
    &__head
      padding: 4px 5px;
      font-size 15px
    &__link
      font-size: 12px;
      padding: 6px 13px;
      &:before
        margin-right 20px
  .navigation__link
    padding: 12px 18px;
    font-size 12px







