@media (max-width: 960px)
  .l-header__h
    margin-top: 80px
    font-size: 65px
  .user-cabinet
    float none
  .logo
    float none
    margin-bottom 15px
  .l-header_bg-style
    padding-bottom 20px
  .l-sort__items
    border-radius 28px
  #everywhere
    width 49%
    float right
    .l-sort__list
     overflow-y: scroll;
  #everything
    width 49%
    .l-sort__header
      display block
    .l-sort__list
      overflow-y: scroll;
  .l-sort__everything
    display none
  #allTime
    width 100%
  .l-sort__items.active .l-sort__list
    max-height 220px
  .event-list_normal .event-list__item
    width 50%
  .l-events
    padding-bottom 80px
  .latest-concert
    overflow-x scroll
    display block
    white-space nowrap
    &__item
      display inline-block
      width auto
      max-width 220px
      white-space normal
  .about-header_head .about-header__img
    width 80%
  .about-header_head .style-wrapper
    margin-bottom 10px
  .about-header_head .style-list-wrapper
    position static
    width 100%
    text-align center
  .about-header_head .about-header__styles
    padding-left 0
    margin-top 20px
  .about-header__style
    display: inline-block
    margin-right 10px
  .group-concerts-list,
  .about-body
    width 100%
    padding-right 0
  #tabs-block
    margin-bottom 20px
  .gallery
    &__item
      display none
      &_small
        width 50%
        &:first-child,
        &:nth-child(2)
          display inline-block
      &_big
        width 100%
        &:last-child
          display inline-block
  .l-filters__label
    margin-left 15px
    margin-right 0
    display: block
  .about-header_prev .about-header__img
    width 32%
  .about-header_prev .style-list-wrapper
    width 44%
    padding-left 15px
  .about-header_prev .group-statistic
    width 24%
  .about-header_prev .group-statistic__item.f-r
    display none
  .about-header_prev .about-header__header
    font-size 25px
  .about-header_prev .about-header__link
    padding 5px 10px
  .but-wrapper
    width 80%
    margin 0 auto
    float none
  .event-list__link
    display: block
  .event-list_normal-medium .concert-header_preview
    display block
  .event-list_normal-medium .event-list__link_concert:after
    display block
  .event-list_normal-big .event-list__item
    width 50%
  .concert-header
    text-align center
  .concert-header__img
    display: inline-block
    width 100%
    max-width 300px
    margin 0 auto
    margin-bottom 10px
  .concert-header__info
    width 100%
    padding-left 0
  .concert-header__country,
  .concert-header__date,
  .concert-header__price,
  .concert-header__place,
  .concert-header__time
    font-size 12px
  .concert-header__list
    padding 7px 0
    margin 0
  .concert-header-button
    margin-top 5px
  .button_small
    padding 9px 30px
  .concert-sidebar
    text-align center
    width 100%
  .concert-timer
    display: inline-block
  .clock__item
    padding  0 5px
  .recommendations
    text-align left
  .event-list_aside
    overflow-x: scroll;
    white-space: nowrap;
  .event-list_aside .event-list__item
    width: 100%;
    max-width: 330px;
    margin-right: 15px;
    white-space normal
    display: inline-block;
  .concert-body
    width 100%
    padding 0
  .l-concert
    padding-top 20px
    padding-bottom 40px
  .event-list_normal-medium
    margin 0 -15px
    .event-list__item
      padding 0 15px
  .concert-header_preview,
  .event-list_normal-medium .event-list__link:after
    left 15px
    right 15px
@media (max-width: 800px)
  .l-header__h
    margin-top: 80px
    font-size: 50px
  .user-cabinet
    float none
    min-width 190px
    &__head
      padding: 4px 5px;
      font-size 15px
    &__link
      font-size: 12px;
      padding: 6px 13px;
      &:before
        margin-right 20px
  .navigation__link
    padding: 12px 18px;
    font-size 12px
  .content-bg-white_margin-top
    padding-bottom 40px
  .but-wrapper
    width 90%
  #tabs-block .r-tabs-accordion-title.r-tabs-state-active
    display block
@media (max-width: 700px)
  #allTime .l-sort__list
    overflow-y: scroll;
  .l-header__h
    font-size 30px
  .l-header__text
    font-size 18px
  .user-cabinet
    float: right
  .navigation
    &__items
      display none
    &__item
      display: block
    &__burger
      display: inline-block
      float left
      margin-top: 10px;
  .button_big
    padding: 15px 26px;
    font-size: 15px;
  .icon_show-t:before
    width: 22px;
    height: 20px;
    background-size contain
  .event-list_normal
    text-align center
  .event-list_normal .event-list__item
    width 100%
    max-width 385px
    text-align left
  .contacts
    margin-top 0
  .l-sort__header
    display: block
  .l-sort__allTime
    display: none
  #everything,
  #everywhere,
  #allTime
    width 100%
    margin-bottom 15px
  .gallery-group
    text-align center
  .gallery-group__item
    width 100%
    max-width 400px
    text-align left
  .group-concerts-list__items
    max-height 400px
    overflow-y scroll
  .about-header_head .about-header__link
    font-size 12px
  .about-header_head .about-header__header
    font-size 26px
  .filtered-element .group-statistic__item
    margin 0
  .filtered-element .group-statistic__item_text
    display: block
    .group-statistic__link
      border-left none
      padding-left 0
  .about-header_prev .about-header__img
    width 37%
  .about-header_prev .group-statistic
    width 15%
  .but-wrapper
    width 100%
    text-align center
  .event-list_normal-medium
    text-align center
  .event-list_normal-medium .event-list__item
    width 100%
    max-width 385px
    text-align left
  .event-list_normal-big
    text-align center
  .event-list_normal-big .event-list__item
    width 100%
    max-width 385px
    text-align left
  .l-concert
    padding-top 20px
    padding-bottom 20px
@media (max-width: 600px)
  .about-header_prev
    text-align center
  .about-header_prev .about-header__img
    width 70%
    margin-bottom 15px
  .about-header_prev .group-statistic
    width 25%
  .about-header_prev .style-list-wrapper
    width 75%
    text-align left
    padding-left 0;
  .about-header_prev .about-header__header
    font-size 20px
  .l-filters__item
    width 100%
  .l-filters__item:not(:last-child)
    margin-right 0
  .l-filters__select
    width 100%
  .l-filters__label,
  .selectize-input.items.full.has-options.has-items,
  .selectize-dropdown [data-selectable]
    font-size 16px
@media (max-width: 400px)
  .l-header__h
    margin-top: 80px
    font-size: 25px
  .l-event-dated__h
    font-size 25px
  .navigation
    float none
  .l-footer
    text-align center
  .contacts
    width 100%
  .copyright
    display: inline-block
  .group-statistic__item
    &:last-child
      display: block
      .group-statistic__link
         border-left none
         padding 0
         margin-top 10px
  .about-header_prev .about-header__style
    display none
    &:first-child,
    &:nth-child(2)
      display: inline-block
  .concert-header
    &__h
      font-size 18px
    &__country,
    &__date,
    &__price
      font-size 13px
    &__followers
      font-size 12px
  .concert-header_preview .concert-header
    &__place,
    &__country,
    &__price,
    &__date,
    &__time
      font-size 13px
    &__folowwers
      font-size 12px
  .event-list_normal-big .event-list__groups-count,
  .event-list__followers
    font-size 12px
  .event-list_normal-big .event-list__group
    font-size 18px
