@require "colors.styl"
@require "globals.styl"
@require "icons_buttons.styl"

.navigation
  &__item
    display: inline-block
    position relative
  &__link
    color: #fff
    display: block
    padding 14px 26px
    border-radius 32px
    border 1px solid transparent
    &_upper
      text-transform: uppercase
    &:hover,
    &.active
      border 1px solid #fff
      color #fff
      text-decoration none
  &_dark
    .navigation__link
      color $dark-purple
      border-color: transparent
      padding 8px 20px
      &.active
        border-color $dark-purple
        text-decoration none
      &:hover
        color $light-purple
        border-color $light-purple
        text-decoration none
.l-header
 &__h
   font-weight: 700
   margin-top 250px
   color #ffffff
   font-size 83px
 &__text
   color #ffffff
   font-weight 300
   font-size 22px
   margin-top: 10px
   margin-bottom 15px
   display: inline-block
.l-sort
 &__items
   background: rgba(0,0,0,0.6)
   display inline-block
   position relative
   z-index 10
   border-radius 32px
   text-align justify
   padding 5px
   box-sizing border-box
   &_big
      width 100%
      margin-bottom 20px
      z-index 5
   &_medium
     width: 78%
     z-index 3
   &_small
     width 20%
     z-index 4
   &.active
     border-bottom-right-radius 0
     border-bottom-left-radius 0
     .l-sort__header
      color #fff
     .l-sort__item
      display block
     .l-sort__list
      display block
      position absolute
      left 0
      border-top 1px solid #333149
      padding 10px 0
      border-bottom-right-radius 32px
      border-bottom-left-radius 32px
      background #101320
      max-height 150px
      &:after
       display none
     .l-sort__item
       margin 0
       width 100%
       background transparent
       &:not(:last-child)
         border-bottom  1px solid  rgba(0,0,0,0.2)
     .l-sort__label
       padding 10px 33px
       background transparent
       box-sizing border-box
       padding-right 5px
       width 100%
       &:hover
        color #fff
        text-decoration none
     .l-sort__header:after
      transform rotate(180deg)
      background-position 0 -6px
     .l-sort__but:checked + .l-sort__label
       background transparent
       color #fff
  &__list
    width 100%
    margin-bottom -18px;
    &:after
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: "";
      display: inline-block;
    &_spec
      display none
 &__item
   display: inline-block
   box-sizing border-box
 &__header
   display: none
   width 100%
   padding: 18px 27px;
   color: #98a0c5;
   border-radius: 32px;
   box-sizing border-box
   position relative
   cursor pointer
   overflow hidden
   vertical-align: middle;
   &:after
    content ""
    background url(../img/list_arrow.png) top center no-repeat
    width 13px
    height 6px
    display block
    position absolute
    right: 15px
    top: 25px
   &_spec
    display inline-block
 &__label
   color $light-purple
   padding 18px 31px
   display inline-block
   position relative
   border-radius 32px
   cursor pointer
   &:hover
     color #fff
     text-decoration none
 &__but
  appearance none
  margin 0
  display none
  &:checked + .l-sort__label
    background: $blue
    color #fff
    outline none
 &__picker
   background transparent
   border transparent
   color $light-purple
   outline-color transparent
   font-size 16px
.event-list
  font-size 0
  text-align left
  &_normal
    margin 0 -4px
    margin-bottom 55px
    .event-list__item
      padding 0 4px
      margin-bottom 7px
      width 33.3333333%
      display inline-block
      &:hover
        .event-list__link:after
          display block
        .event-list__but
          background: #fff
          border-color transparent
        .event-list__price
          display: block
    .event-list__price
      top 21px
      left 4px
      font-size 14px
      color $light-blue
      background: #ffffff
      padding 8px 19px
      border-bottom-right-radius  32px
      border-top-right-radius  32px
      display none
    .event-list__but
      bottom 24px
      right 22px
      font-size 12px
      color $medium-purple
      background transparent
      border 1px solid $medium-purple
      display block
      padding 9px 19px
    .event-list__details
      left 22px
      bottom 18px
    .event-list__group
      font-size 36px
    .event-list__link
      &:before
        top: 0
        bottom: 0
        left: 4px
        right: 4px
        background: linear-gradient(0deg, #2F2C55 10%, rgba(47,44,86,0.95) 30%,rgba(47,44,86,0.8) 40%, rgba(47,46,87,0) 60%);
        border-radius 5px;
      &:after
        top: 0
        bottom: 0
        left: 4px
        right: 4px
        opacity: $grad-hover-opacity
        display: none
        border-radius 5px;
      .event-list__time
        margin-top 8px
      .event-list__place
        margin-top 12px
  &_aside
    .event-list__item
      padding 0
      margin-top: 20px
      display block
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.53);
      &:hover
        .event-list__link:before
          display none
    .event-list__price
      top 11px
      right  11px
      color #fff
      background: rgba(255,255,255,0.3)
      border-radius 32px
      display block
    .event-list__details
      left 14px
      bottom 17px
    .event-list__group
      font-size 30px
    .event-list__link
      &:before
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: $grad-hover-bg
      &:after
        top: 0
        bottom: 0
        left: 0
        right: 0
        opacity: $grad-no-hover-opacity
        display: block
    .event-list__time
      margin-top 4px
    .event-list__place
      margin-top 8px
  &__item
    position relative
    overflow hidden
    box-sizing border-box
    border-radius: 10px;
  &__img
    width 100%
    border-radius 5px
  &__price
    position absolute
    font-weight: 700
    z-index 3
    padding 8px 19px
    font-size 14px
  &__but
    position absolute
    border-radius  32px
    text-transform uppercase
    cursor pointer
    z-index 3
  &__details
    position absolute
    font-size 14px
    color $medium-purple
    max-width 80%
    z-index 3
  &__group
    color #ffffff
    font-weight 700
    word-wrap break-word
    line-height: 1
  &__link
    display: block
    &:before
      content ""
      position absolute
      z-index 2
    &:after
      content ""
      position absolute
      background: linear-gradient(0deg, $grad-hover-color-1, $grad-hover-color-2);
      z-index 1
.l-event-dated
  &__h
    font-size: 32px
    font-weight: 700
    color #fff
    letter-spacing 1px
    text-align center
    text-transform uppercase
    margin-bottom 46px
.latest-concert
  display table
  font-size 0
  &__item
    display table-cell
    position: relative
    font-size 16px
    padding-right 30px
    width 17.1%
    &:not(:last-child):after
      content ""
      position: absolute
      top 0
      right 0
      width 30px
      height 100%
      background url(../img/column-space.png) repeat-y
      display block
    &:last-child
      padding-right 0
  &__link
    display: block
    padding 10px
    background: rgba(255,255,255,0.1)
    &:hover
      background: rgba(255,255,255,0.2)
      text-decoration none
      color #fff
  &__time
    display: block
    margin-top 30px
    margin-bottom 16px
    color $medium-purple
    font-size: 14px
    text-transform uppercase
  &__group
    font-size 22px
    color #ffffff
    min-height 90px
.copyright
   color $mega-dark-purple
   margin-top 22px
   font-size: 12px
.contacts
  display inline-block
  margin-top 20px
  &__item
    display: inline-block
    margin-right: 20px
  &__link
    width 50px
    height 50px
    display block
    background $light-gray
    border-radius 50%
    text-align center
    &:hover
      box-shadow: 0px 0px 16px rgba(0, 0, 0,1);
      .fb-icon
        background-position 0 -24px
      .be-icon
        background-position -28px -24px
      .gh-icon
        background-position -56px -24px
.l-breadcrumbs
  &__item
    display: inline-block
    margin-right: 16px
    &:not(:last-child)
      .l-breadcrumbs__link
        color $medium-purple
        &:after
          content ''
          display: inline-block
          background url(../img/list_arrow.png) top center no-repeat
          width 13px
          height: 6px
          margin-left 14px
          transform rotate(-90deg)
          vertical-align middle
    &:last-child
      .l-breadcrumbs__link
        color #fff
.concert-header
  margin-bottom 30px
  &-button
    margin-top 8px
  &__img
    width 31.6%
    display: inline-block
    vertical-align top
    border-radius 5px
  &__info
    width 68.4%
    display: inline-block
    vertical-align top
    padding-left 30px
    box-sizing border-box
  &__h
    font-size 42px
    color #ffffff
    font-weight 700
  &__description
    color #fff
    font-size 14px
    margin-top 5px
    margin-bottom 25px
  &__item
    display: table-cell
    vertical-align middle
    padding 0 5px
    position relative
    box-sizing border-box
    &:not(:last-child)
      border-right 1px solid rgba(255,255,255,0.1)
  &__list
    margin-left -30px
    display: table
    width 75%
    background: rgba(255,255,255,0.1)
    padding 15px 0
    box-sizing border-box
    text-align center
  &__country,
  &__date,
  &__price
    color #ffffff
    font-size 18px
    display inline-block
    vertical-align middle
    text-align left
  &__place,
  &__time
    font-size 14px
    display block
.concert-sidebar
  padding 20px
  background: rgba(255,255,255,0.1)
  width 31.6%
  box-sizing border-box
  display: inline-block
  .concert-timer
    border-bottom 1px solid rgba(255,255,255,0.05)
    &__header
      color #fff
      font-size  24px
      font-weight 700
      text-transform uppercase
      text-align center
.clock
  text-align justify
  padding-top 18px
  padding-bottom 28px
  &:after
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
  &__colon
    font-weight 700
  &__number
    font-weight 300
    background: rgba(255,255,255,.12)
    display: block
    border-radius 50%
    width 73px
  &__item
    color #fff
    font-size 30px
    display: inline-block
    line-height 73px
    text-align center
    vertical-align top
    &_days,
    &_hours,
    &_minutes
      &:after
        text-transform uppercase
        display block
        font-size 14px
        line-height 1
        font-weight 300
        margin-top 12px
    &_days:after
      content 'Days'
    &_hours:after
      content 'Hour'
    &_minutes:after
      content 'Min'
.recommendations
   padding-top 25px
   &__h
     font-size 16px
     font-weight 700
     color #fff
     vertical-align middle
   &__count
     width 30px
     height 30px
     display: inline-block
     background rgba(255,255,255,0.2)
     text-align center
     margin 0 5px
     border-radius 50%
     line-height 30px
     vertical-align middle
.concert-body
  width 68.4%
  display: inline-block
  box-sizing border-box
  padding-left 30px
  padding-top 18px
  p
    color #fff
    font-size 14px
    margin-bottom 25px
    line-height 2
.gallery
  margin 0 -10px
  font-size: 0;
  &__fancy-link
    display: block
    position relative
    overflow hidden
    z-index 2
  &__item
    display: inline-block
    padding 0 10px
    box-sizing border-box
    margin-bottom 20px
    cursor pointer
    &_small
      width 25%
    &_big
      width 50%
    &_img-grad
      position relative
      z-index 1
      &:after
        content ''
        position absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: block
        background linear-gradient(0, $gallery-grad-color-1, $gallery-grad-color-2)
        opacity $gallery-grad-opacity
        z-index 2
    &_video-grad
      position relative
      z-index 1
      opacity 0.8
      &:after
        content ''
        position absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: block
        background linear-gradient(0, $grad-hover-color-1, $grad-hover-color-2)
        opacity $gallery-video-grad-opacity
        z-index 2
      &:before
        content ''
        position absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: block
        background url(../img/play_but.png) center  center  no-repeat rgba(0,0,0,0.3)
        z-index 3
      &:hover
        opacity 1
  &__video,
  &__img
    width 100%
    border-radius 5px
    z-index 1
    position relative
iframe
  display none


/* customizing scroll */
.mCSB_inside > .mCSB_container
  margin-right 10px

.mCSB_scrollTools .mCSB_draggerContainer
  height 80%

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  width 1px

.mCSB_scrollTools .mCSB_draggerRail
  width 1px

  /* end */

.about-header
  &_head
    text-align center
    margin-bottom 135px
    .about-header__img
      width 53%
    .about-header__styles
      padding-left 25px
    .about-header__style
      &:not(:last-child)
       margin-bottom 10px
    .about-header__link
      font-size 14px
    .about-header__header
      font-size 36px
      margin-bottom 30px
    .style-wrapper
      position: relative
      display block
      font-size 0
      margin-bottom 30px
    .style-list-wrapper
      position: absolute
      vertical-align middle
      height 100%
      width 23.5%
      right: 0
      top 0
      text-align left
  &_prev
    font-size 0
    .about-header__img
      width 23%
      display: inline-block
      vertical-align middle
    .about-header__style
      display: inline-block
      &:not(:last-child)
        margin-right 10px
        margin-bottom 10px
    .about-header__link
      font-size 12px
    .about-header__header
      font-size 34px
      margin-bottom 10px
    .group-statistic
      width 34%
      display: inline-block
      vertical-align middle
    .group-statistic__link_border
      border-width 1px
    .style-list-wrapper
      display: inline-block
      width 43%
      vertical-align middle
      padding-left 30px
      padding-right 5px
      box-sizing border-box
  &__img
    border-radius 7px
  &__styles
    display: inline-block
  &__style
    display: block
  &__group
    color #fff
    text-decoration none
    &:hover
      color $blue
      text-decoration none
  &__link
    color $medium-purple
    padding 12px 20px
    background: rgba(0,0,0,.2)
    border-radius 32px
    display: inline-block
    &:hover
      background: rgba(255,255,255,.2)
      color $medium-purple
      text-decoration none
  &__header
    color #fff
    font-weight 500
    text-transform capitalize
.group-statistic
  display: block
  text-align center
  &__item
    display: inline-block
    &:not(:last-child)
      margin-right 20px
  &__link
    line-height 38px
    font-size 14px
    color #fff
    display: block
    text-transform capitalize
    &:hover:before
      background-image url(../img/band-sprite-icons-hover.png)
    &_border
      border 2px solid #fff
      border-radius 32px
      padding 0 21px
      &:hover
        color $blue
        border-color: $blue
        text-decoration none
    &_fans
      border-left 1px solid $dark-white
      color $dark-white
      font-size 12px
      padding-left 16px
  &__but
    border: 1px solid $medium-purple;
    border-radius: 32px;
    padding: 0 21px;
    color $medium-purple
    text-transform uppercase
    &:hover
      color #fff
      background: $medium-purple
.group-concerts-list
  width 31.6%
  background: rgba(0,0,0,.12)
  box-sizing border-box
  border-radius 5px
  &__header
    color #fff
    font-size 20px
    line-height 76px
    padding 0 18px
    text-transform capitalize
  &__item
    background: rgba(0,0,0,.1)
    display: block
    &:not(:first-child)
      border-top 1px solid rgba(255,255,255,.05)
  &__link
    color #fff
    display block
    padding 22px 18px
    &:hover
      background: rgba(255,255,255,.1)
      color #fff
      text-decoration none
  &__place
    font-size 18px
    display: inline-block
  &__date
    font-size 14px
    color $dark-white
    display block
  &__price
    color $medium-purple
    display: inline-block
    margin-top 10px
.content-bg-white
  background: rgba(255,255,255,.05)
  display block
  &_margin-top
    margin-top -76px
    padding-bottom 110px
.about-body
   width 68.4%
   display: inline-block
   padding-right 15px
   box-sizing border-box
   p
    color #fff
    font-size 14px
    margin-bottom 25px
    line-height 2
   &__list
     height 76px
     text-align left
     box-sizing border-box
     display table
     width 100%
   &__item
     display: table-cell
     vertical-align bottom
     text-align: center;
     width: 25%;
     box-sizing border-box
   &__link
     font-size 14px
     color $medium-purple
     padding 12px 0
     box-sizing border-box
     display: block
     text-transform uppercase
     border-bottom 2px solid transparent
     &:hover
       color #fff
       text-decoration none
/* tabs */

.r-tabs .r-tabs-tab
  display: table-cell
li.about-body__item.r-tabs-tab.r-tabs-state-active .about-body__link
    border-color #fff
    color #fff
    text-decoration none
.r-tabs-accordion-title
  height 76px
  vertical-align bottom
  line-height: 76px;
  padding-left: 19px;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  a
    color #fff
    display block
.r-tabs .r-tabs-panel
  padding 30px 10px 5px 0

.songs-list
  width 100%
  &__header
    background: rgba(0,0,0,.3)
  &__row
    text-indent 15px
  &__td
    font-size 14px
    color $medium-purple
    line-height 2.5
    &_dark
      color $medium-purple-disabled
  &__body
    .songs-list__row:nth-child(2n)
      background: rgba(0,0,0,.02)
    .songs-list__row:nth-child(2n+1)
      background: rgba(255,255,255,.02)
.gallery-group
  font-size 0
  display: block
  margin 0 -15px
  &__item
    width 50%
    box-sizing border-box
    padding 15px
    display: inline-block
    position: relative
  &__link
    display: block
    &:before
      content ''
      position: absolute
      top: 15px
      right: 15px
      left: 15px
      bottom: 15px
      display: block
      z-index 1
      border-radius 5px
      background: $gallery-group-before
      opacity $gallery-group-before-opasity
    &:hover:before
      opacity $gallery-group-before-hover-opasity
  &__img
    width 100%
    border-radius 5px
  &__description
    bottom: 60px
    left: 35px
    display: block
    position absolute
    z-index 1
  &__group-name
    color #fff
    font-size 22px
    text-transform uppercase
.hash-list
  display: block
  position absolute
  bottom 30px
  left 35px
  z-index 13
  &__item
    display: inline-block
  &__link
    display: block
    margin-right 4px
    font-size 14px
    color $medium-purple
    &:before
      content '#'
    &:hover
      color #FFFFFF
      &:before
        color #fff

.l-filters
  &__select
    &_country
     min-width 150px
    &_city
     min-width 185px
    &_fans
     min-width 110px
    &_genre
     min-width 160px
  &__item
    display: inline-block
    &:not(:last-child)
      margin-right 30px
  &__option
    background: #313039
  &__label
    color $medium-purple
    font-size 14px
    margin-right 10px
.filtered-element
   padding 30px 0
   &:nth-child(2n+1)
    background: rgba(255,255,255,.03)
.user-cabinet
  position: absolute;
  right: 0;
  text-align: left;
  display: none
  width: 100%;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: rgba(255,255,255,0.1);
  &__item
    border-top: 1px solid rgba(255,255,255,.3)
    padding-left: 16px;
  &__link
    color #fff
    padding 3px 10px
    padding-right 15px
    display block
    width 100%
    box-sizing border-box
    font-size 12px

  /* custom select */
.selectize-control .selectize-input > input
  display none !important
.selectize-control.single .selectize-input:after
  border-color $medium-purple transparent transparent transparent
.selectize-input.items.full.has-options.has-items.focus.dropdown-active.input-active
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  color #fff
.selectize-control.single .selectize-input.dropdown-active:after
  border-color  transparent transparent #fff transparent
.selectize-control
  position: relative;
  display: inline-block
  vertical-align: middle;
.selectize-input.items.full.has-options.has-items
  border-radius 17px
  color $medium-purple
  padding 10px 50px 10px 20px
  line-height 1
  font-size 14px
  background rgba(255,255,255,.1)
  border none
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header,
.selectize-dropdown .active
  padding: 3px 8px;
  padding-left: 19px;
  font-size: 12px;
  color $medium-purple
  border-top:1px solid rgba(255,255,255,.03)
.selectize-dropdown .active,
.selectize-dropdown .selected
  background: transparent
  color #fff


.selectize-dropdown
  background: #3e2933;
  border-color transparent
  border-bottom-right-radius  17px
  border-bottom-left-radius  17px
  width: 100% !important